{% load staticfiles %}
<html>
<head>
    <title>Dinushi's blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>

<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'add_images' %}" class="top-menu"><span class="glyphicon glyphicon-camera"></span></a>
        <p class="top-menu">Hello {{ user.username }}
            <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
        </p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}
    <h1><a href="/">Dinushi's Blog</a></h1>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'post_list' %}">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
            <form id="searchform" action="{% url 'blog_search_list_view' %}" method="get" accept-charset="utf-8">
                <div class="input-group">
                    <input type="text" class="form-control" name="search_term" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>