{% extends 'blog/base.html' %}

{% block content %}
        {% for post in posts %}
            <div class="post">
                <div class="date-outer">
                    <div class="date">
                        <h5 id="date-header">{{ post.published_date| date:"d/M/Y" }}</h5>
                    </div>
                </div>
                <hr>
                <h1 style="padding-bottom: 15px"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.body_text|safe }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            </div>
        {% endfor %}
{% endblock %}
